{% include 'header' %}

import Swinject 
import SwinjectStoryboard

private let assemblyCenter = {{ prefix }}AssemblyCenter.shared

public class {{ prefix }}{{ module_info.name }}Assembly: BaseAssembly {
    public func assemble(container: Container) {
        //{{ prefix }}{{ module_info.name }}Parser
        container.register({{ prefix }}{{ module_info.name }}ParserProtocol.self) { _ in
            {{ prefix }}{{ module_info.name }}Parser()
            }
            .inObjectScope(.container)
        
        //{{ prefix }}{{ module_info.name }}RequestPreparer
        container.register({{ prefix }}{{ module_info.name }}RequestPreparerProtocol.self) { r in
            {{ prefix }}{{ module_info.name }}RequestPreparer(networkRequestFactory: assemblyCenter.networkAssembly().networkRequestFactory(),
                                 requestAuthorizer: assemblyCenter.authorizationAssembly().requestAuthorizer())
            }
            .inObjectScope(.container)
        
        //{{ prefix }}{{ module_info.name }}Accessor
        container.register({{ prefix }}{{ module_info.name }}AccessorProtocol.self) { r in
            {{ prefix }}{{ module_info.name }}Accessor(requestPreparer: r.resolve({{ prefix }}{{ module_info.name }}RequestPreparerProtocol.self)!,
                            requestProcessor: assemblyCenter.networkAssembly().requestProcessor(),
                            parser: self.parser())
            }
            .inObjectScope(.container)
        
        //{{ prefix }}{{ custom_parameters.vc_name }}ViewController
        container.register({{ prefix }}{{ custom_parameters.vc_name }}ViewModel.self) { r in
            {{ prefix }}{{ custom_parameters.vc_name }}ViewModel({{ module_info.name | downcase }}Accessor: self.accessor())
        }
        container.storyboardInitCompleted({{ prefix }}{{ custom_parameters.vc_name }}ViewController.self) { r, c in
            c.viewModel = r.resolve({{ prefix }}{{ custom_parameters.vc_name }}ViewModel.self)
        }
    }
    
    public func parser() -> {{ prefix }}{{ module_info.name }}ParserProtocol {
        return container.resolve({{ prefix }}{{ module_info.name }}ParserProtocol.self)!
    }
    
    public func accessor() -> {{ prefix }}{{ module_info.name }}AccessorProtocol {
        return container.resolve({{ prefix }}{{ module_info.name }}AccessorProtocol.self)!
    }
}

//TODO: Add in {{ prefix }}AssemblyCenter.swift
//To {{ prefix }}AssemblyCenter extension

    public func {{ module_info.name | downcase }}Assembly() -> {{ prefix }}{{ module_info.name }}Assembly {
        return {{ prefix }}{{ module_info.name }}Assembly()
    }

//TODO: To {{ prefix }}AssemblyCenter.assemblies add array element - {{ module_info.name | downcase }}Assembly()