{% include 'header' %}

import UIKit
import SwinjectStoryboard

public class {{ prefix }}Storyboard{{ module_info.name }}: Storyboard {
    public override class func storyboard() -> UIStoryboard {
        return {{ prefix }}AssemblyCenter.createStoryboard(name: "{{ prefix }}{{ module_info.name }}")
    }
    
    public class func {{ module_info.name | downcase }}ViewController() -> {{ prefix }}{{ module_info.name }}ViewController {
        return {{ prefix }}{{ module_info.name }}ViewController.instantiate(storyboard: self)
    }
}
