{% include 'header' %}

import Foundation 
import RxSwift 

public protocol {{ prefix }}{{ module_info.name }}AccessorProtocol {
    {% if isMany -%}
	func get{{ dataName }}() -> Observable<[{{ custom_parameters.model }}]>
    {%- else -%}
    func get{{ dataName }}() -> Observable<{{ custom_parameters.model }}>
    {%- endif %}
}

public class {{ prefix }}{{ module_info.name }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol {
    private let requestPreparer: {{ prefix }}{{ module_info.name }}RequestPreparerProtocol
    private let requestProcessor: RequestProcessorProtocol
    private let parser: {{ prefix }}{{ module_info.name }}ParserProtocol
    private var disposeBag = DisposeBag()
    
    init(requestPreparer: {{ prefix }}{{ module_info.name }}RequestPreparerProtocol,
         requestProcessor: RequestProcessorProtocol,
         parser: {{ prefix }}{{ module_info.name }}ParserProtocol) {
        self.requestPreparer = requestPreparer
        self.requestProcessor = requestProcessor
        self.parser = parser
    }

    {% if isMany -%}
    public func get{{ dataName }}() -> Observable<[{{ custom_parameters.model }}]> {
        return requestProcessor.process(request: requestPreparer.get{{ dataName }}(),
                                        elementParser: parser.parse({{ custom_parameters.model | downcase }}JSON:),
    {%- else %}
    public func get{{ dataName }}() -> Observable<{{ custom_parameters.model }}> {
        return requestProcessor.process(request: requestPreparer.get{{ dataName }}(),
                                        parser: parser.parse({{ custom_parameters.model | downcase }}JSON:),
    {%- endif %}
                                        disposeBag: disposeBag)
    }
}
