{% include 'header' %}

import Foundation 
import RxSwift 

public protocol {{ prefix }}{{ module_info.name }}RequestPreparerProtocol {     
	func get{{ dataName }}() -> URLRequest     
}

public class {{ prefix }}{{ module_info.name }}RequestPreparer: {{ prefix }}{{ module_info.name }}RequestPreparerProtocol {     
    private let networkRequestFactory: NetworkRequestFactoryProtocol
    private let requestAuthorizer: RequestAuthorizerProtocol
    private typealias {{ module_info.name }}Keys = NetworkKeys.Requests.{{ module_info.name }}
    
    public init(networkRequestFactory: NetworkRequestFactoryProtocol,
                requestAuthorizer: RequestAuthorizerProtocol) {
        self.requestAuthorizer = requestAuthorizer
        self.networkRequestFactory = networkRequestFactory
    }

    public func get{{ dataName }}() -> URLRequest {
        let params: [String: Any] = [:]
        var request = networkRequestFactory.prepareRequest(request: "{{ dataName | downcase }}",
                                                           method: .get,
                                                           params: params)
        requestAuthorizer.authenticate(request: &request)
        return request
    }
}
