{% include 'header' %}

import Swinject 
import SwinjectStoryboard

public class {{ prefix }}{{ module_info.name }}Assembly: Assembly {
    override init(parent: Container? = nil) {
        super.init(parent: parent)
        setup()
    }
    
    private func setup() {
        //{{ prefix }}{{ module_info.name }}Parser
        container.register({{ prefix }}{{ module_info.name }}ParserProtocol.self) { _ in
            {{ prefix }}{{ module_info.name }}Parser()
            }
            .inObjectScope(.container)
        
        //{{ prefix }}{{ module_info.name }}RequestPreparer
        container.register({{ prefix }}{{ module_info.name }}RequestPreparerProtocol.self) { r in
            {{ prefix }}{{ module_info.name }}RequestPreparer(networkRequestFactory: self.networkAssembly().networkRequestFactory())
            }
            .inObjectScope(.container)
        
        //{{ prefix }}{{ module_info.name }}Accessor
        container.register({{ prefix }}{{ module_info.name }}AccessorProtocol.self) { r in
            {{ prefix }}{{ module_info.name }}Accessor(requestPreparer: r.resolve({{ prefix }}{{ module_info.name }}RequestPreparerProtocol.self)!,
                            requestProcessor: self.networkAssembly().requestProcessor(),
                            parser: self.parser())
            }
            .inObjectScope(.container)
        
        //{{ prefix }}{{ module_info.name }}ViewController
        container.register({{ prefix }}{{ module_info.name }}ViewModel.self) { r in
            {{ prefix }}{{ module_info.name }}ViewModel({{ module_info.name | downcase }}Accessor: self.accessor())
        }
        container.storyboardInitCompleted({{ prefix }}{{ module_info.name }}ViewController.self) { r, c in
            c.viewModel = r.resolve({{ prefix }}{{ module_info.name }}ViewModel.self)
        }
    }
    
    public func parser() -> {{ prefix }}{{ module_info.name }}ParserProtocol {
        return container.resolve({{ prefix }}{{ module_info.name }}ParserProtocol.self)!
    }
    
    public func accessor() -> {{ prefix }}{{ module_info.name }}AccessorProtocol {
        return container.resolve({{ prefix }}{{ module_info.name }}AccessorProtocol.self)!
    }
}

//TODO: Add in AppAssembly.swift
//To Assembly

    public func {{ module_info.name | downcase }}Assembly() -> {{ prefix }}{{ module_info.name }}Assembly {
        return AppAssembly.shared.container.resolve({{ prefix }}{{ module_info.name }}Assembly.self)!
    }

//To AppAssembly.registerAssemblies()

        container.register({{ prefix }}{{ module_info.name }}Assembly.self) { r in
            {{ prefix }}{{ module_info.name }}Assembly(parent: self.container)
            }
            .inObjectScope(.container)