{% include 'header' %}

import Foundation 
import RxSwift 

public protocol {{ prefix }}{{ module_info.name }}AccessorProtocol {     
	func get{{ module_info.name }}() -> Observable<{{ custom_parameters.model }}>     
}

public class {{ prefix }}{{ module_info.name }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol {
    private let requestPreparer: {{ prefix }}{{ module_info.name }}RequestPreparerProtocol
    private let requestProcessor: {{ prefix }}RequestProcessorProtocol
    private let parser: {{ prefix }}{{ module_info.name }}ParserProtocol
    private var disposeBag = DisposeBag()
    
    init(requestPreparer: {{ prefix }}{{ module_info.name }}RequestPreparerProtocol,
         requestProcessor: {{ prefix }}RequestProcessorProtocol,
         parser: {{ prefix }}{{ module_info.name }}ParserProtocol) {
        self.requestPreparer = requestPreparer
        self.requestProcessor = requestProcessor
        self.parser = parser
    }

    public func get{{ module_info.name }}() -> Observable<{{ custom_parameters.model }}> {
        return requestProcessor.process(request: requestPreparer.get{{ module_info.name }}(),
                                        parser: parser.parse({{ module_info.name | downcase }}JSON:),
                                        disposeBag: disposeBag)
    }
}
