{% include 'header' %}

import UIKit
import SwinjectStoryboard

public class {{ prefix }}Storyboard{{ module_info.name }}: Storyboard {
    public override class func storyboard() -> UIStoryboard {
        return {{ prefix }}AssemblyCenter.createStoryboard(name: "{{ prefix }}{{ module_info.name }}")
    }
    
    public class func {{ custom_parameters.vc_name | downcase }}ViewController() -> {{ prefix }}{{ custom_parameters.vc_name }}ViewController {
        return instantiateViewController()
    }
}
