<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.Storyboard.XIB" version="3.0" toolsVersion="11762" systemVersion="16B2657" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" useTraitCollections="YES" colorMatched="YES">
    <device id="retina4_7" orientation="portrait">
        <adaptation id="fullscreen"/>
    </device>
    <dependencies>
        <deployment identifier="iOS"/>
        <plugIn identifier="com.apple.InterfaceBuilder.IBCocoaTouchPlugin" version="11757"/>
        <capability name="documents saved in the Xcode 8 format" minToolsVersion="8.0"/>
    </dependencies>
    <scenes>
        <!--{{ module_info.name }} Controller-->
        <scene sceneID="4Qi-Do-JcG">
            <objects>
                <viewController storyboardIdentifier="{{ prefix }}{{ custom_parameters.vc_name }}ViewController" id="Wde-KX-rKw" customClass="{{ prefix }}{{ custom_parameters.vc_name }}ViewController" customModule="{{ module_info.product_module_name }}" sceneMemberID="viewController">
                    <layoutGuides>
                        <viewControllerLayoutGuide type="top" id="Ri2-HK-aEz"/>
                        <viewControllerLayoutGuide type="bottom" id="j3E-Sh-I7A"/>
                    </layoutGuides>
                    <view key="view" contentMode="scaleToFill" id="vAA-7s-Jcf">
                        <rect key="frame" x="0.0" y="0.0" width="375" height="667"/>
                        <autoresizingMask key="autoresizingMask" widthSizable="YES" heightSizable="YES"/>
                        <color key="backgroundColor" white="1" alpha="1" colorSpace="calibratedWhite"/>
                        {% if custom_parameters.is_table == 'true' -%}
                        <subviews>
                            <tableView clipsSubviews="YES" contentMode="scaleToFill" alwaysBounceVertical="YES" dataMode="prototypes" style="plain" separatorStyle="default" rowHeight="-1" estimatedRowHeight="-1" sectionHeaderHeight="28" sectionFooterHeight="28" translatesAutoresizingMaskIntoConstraints="NO" id="Rkx-DA-pS4" {% if custom_parameters.is_dptable == 'true' %}customClass="DPTableView" customModule="DPTableView"{% endif %} >
                                <rect key="frame" x="0.0" y="20" width="375" height="647"/>
                                <color key="backgroundColor" white="1" alpha="1" colorSpace="custom" customColorSpace="genericGamma22GrayColorSpace"/>
                                <prototypes>
                                    <tableViewCell clipsSubviews="YES" contentMode="scaleToFill" insetsLayoutMarginsFromSafeArea="NO" selectionStyle="blue" hidesAccessoryWhenEditing="NO" indentationLevel="1" indentationWidth="0.0" reuseIdentifier="{{ custom_parameters.cell }}" id="gqr-YO-iEs" customClass="{{ prefix }}{{ custom_parameters.cell }}" customModule="{{ module_info.product_module_name }}">
                                        <rect key="frame" x="0.0" y="28" width="375" height="44"/>
                                        <autoresizingMask key="autoresizingMask"/>
                                        <tableViewCellContentView key="contentView" opaque="NO" clipsSubviews="YES" multipleTouchEnabled="YES" contentMode="center" insetsLayoutMarginsFromSafeArea="NO" tableViewCell="gqr-YO-iEs" id="qH5-jV-OP5">
                                            <rect key="frame" x="0.0" y="0.0" width="375" height="43.5"/>
                                            <autoresizingMask key="autoresizingMask"/>
                                        </tableViewCellContentView>
                                    </tableViewCell>
                                </prototypes>
                                {% if custom_parameters.is_dptable != 'true' %}
                                <connections>
                                    <outlet property="dataSource" destination="Wde-KX-rKw" id="Wi6-QV-ObE"/>
                                    <outlet property="delegate" destination="Wde-KX-rKw" id="asA-5c-3i2"/>
                                </connections>
                                {% endif %}
                            </tableView>
                        </subviews>
                        <constraints>
                            <constraint firstItem="Rkx-DA-pS4" firstAttribute="leading" secondItem="vAA-7s-Jcf" secondAttribute="leading" id="0dl-XO-BwB"/>
                            <constraint firstItem="j3E-Sh-I7A" firstAttribute="top" secondItem="Rkx-DA-pS4" secondAttribute="bottom" id="74A-J2-ZQP"/>
                            <constraint firstItem="Rkx-DA-pS4" firstAttribute="top" secondItem="Ri2-HK-aEz" secondAttribute="bottom" id="U5B-u5-FLJ"/>
                            <constraint firstAttribute="trailing" secondItem="Rkx-DA-pS4" secondAttribute="trailing" id="dIe-zq-F7K"/>
                        </constraints>
                        {%- endif %}
                    </view>
                    {% if custom_parameters.is_table == 'true' -%}
                    <connections>
                        <outlet property="tableView" destination="Rkx-DA-pS4" id="xKI-6b-gPC"/>
                    </connections>
                    {%- endif %}
                </viewController>
                <placeholder placeholderIdentifier="IBFirstResponder" id="7iK-AX-gE7" userLabel="First Responder" sceneMemberID="firstResponder"/>
            </objects>
            <point key="canvasLocation" x="0" y="0"/>
        </scene>
    </scenes>
</document>
