{% include 'header' %}

import UIKit
import SwinjectStoryboard

public class {{ prefix }}Storyboard{{ module_info.name }}: {{ prefix }}Storyboard {
    public override class func storyboard() -> UIStoryboard {
        return SwinjectStoryboard.create(name: "{{ prefix }}{{ module_info.name }}", bundle: nil, container: {{ prefix }}AppAssembly.shared.{{ module_info.name | downcase }}Assembly().container)
    }
    
    public class func {{ module_info.name | downcase }}ViewController() -> {{ prefix }}{{ module_info.name }}ViewController {
        return {{ prefix }}{{ module_info.name }}ViewController.instantiate(storyboard: self)
    }
}
