//{% if custom_parameters.is_many == 'true' %}{% assign isMany = true %}{% else %}{% assign isMany = false %}{% endif %}
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//{% capture dataName %}{{ custom_parameters.model }}{% if isMany == true %}s{% endif %}{% endcapture %}