{% include 'header' %}

import Foundation 
import SwiftyJSON

public protocol {{ prefix }}{{ module_info.name }}ParserProtocol {     
	func parse({{ custom_parameters.model | downcase }}JSON: JSON) throws -> DB{{ custom_parameters.model }}     
}

public class {{ prefix }}{{ module_info.name }}Parser: Parser, {{ prefix }}{{ module_info.name }}ParserProtocol {
	private let database = DatabaseAccessor.instance
	private typealias {{ custom_parameters.model }}Keys = NetworkKeys.{{ custom_parameters.model }}
    
    public func parse({{ custom_parameters.model | downcase }}JSON: JSON) throws -> DB{{ custom_parameters.model }} {
    	guard let id = {{ custom_parameters.model | downcase }}JSON[{{ custom_parameters.model }}Keys.id].int else {
    		throw NSError.invalidResponse
    	}
    	let {{ custom_parameters.model | downcase }} = database.findOrCreateObject(ofType: DB{{ custom_parameters.model }}.self, forPrimaryKey: id)
        return {{ custom_parameters.model | downcase }}
    }
}
