{% include 'header' %}

import Foundation 
import RxSwift 

public protocol {{ prefix }}{{ module_info.name }}RequestPreparerProtocol {     
	func get{{ module_info.name }}() -> URLRequest     
}

public class {{ prefix }}{{ module_info.name }}RequestPreparer: {{ prefix }}{{ module_info.name }}RequestPreparerProtocol {     
    private let networkRequestFactory: {{ prefix }}NetworkRequestFactoryProtocol
    
    init(networkRequestFactory: {{ prefix }}NetworkRequestFactoryProtocol) {
        self.networkRequestFactory = networkRequestFactory
    }

    public func get{{ module_info.name }}() -> URLRequest {
        let params: [String: Any] = [:]
        return networkRequestFactory.prepareRequest(request: "{{ module_info.name | downcase }}",
                                                    method: .get,
                                                    params: params)
    }
}
