{% include 'header' %}

import UIKit
{% if custom_parameters.is_dptable == 'true' -%}
import DPTableView
{%- endif %}

public class {{ prefix }}{{ custom_parameters.cell }}: UITableViewCell{% if custom_parameters.is_dptable == 'true' %}, DPTableViewElementCellProtocol{% endif %} {
    public var viewModel: {{ prefix }}{{ custom_parameters.cell }}ViewModel!

    {% if custom_parameters.is_dptable == 'true' -%}
    public static var estimatedHeight: CGFloat = 44
    {%- endif %}

    //MARK: Lifecycle
    override public func awakeFromNib() {
        super.awakeFromNib()
    }

    override public func prepareForReuse() {
        super.prepareForReuse()
    }

    //MARK: Setups
    public func set(viewModel: {{ prefix }}{{ custom_parameters.cell }}ViewModel) {
        self.viewModel = viewModel
    }
}
