{% include 'header' %}

import UIKit
import RxSwift
import RxCocoa
{%- if custom_parameters.is_dptable == 'true' %}
import DPTableView
{%- endif %}

public class {{ prefix }}{{ custom_parameters.vc_name }}ViewController: BaseViewController {
    {% if custom_parameters.is_table == 'true' -%}
        {% if custom_parameters.is_dptable == 'true' -%}
    @IBOutlet private weak var tableView: DPTableView!
        {%- else -%}
    @IBOutlet private weak var tableView: UITableView!
        {%- endif %}
    {%- endif %}

    public var viewModel: {{ prefix }}{{ custom_parameters.vc_name }}ViewModel!
    {%- if isMany and custom_parameters.is_table == 'true' and custom_parameters.is_dptable != 'true' %}
    private var {{ dataName | downcase }}: [{{ prefix }}{{ custom_parameters.cell }}ViewModel] = []
    {%- endif %}

    //MARK: Lifecycle
    override public func viewDidLoad() {
        super.viewDidLoad()
        setupBindings()
        {%- if isMany and custom_parameters.is_table == 'true' and custom_parameters.is_dptable == 'true' %}
        setupTableView()
        {%- endif %}
    }

    //MARK: Setups
    private func setupBindings() {
        viewModel.rx.state
            .drive(onNext: { state in
                switch state {
                case .loading:
                    self.showHud()
                case .normal:
                    self.hideHud()
                case .successful:
                    self.hideHud()
                case .error(let error):
                    self.hideHud()
                    self.showAlert(with: error)
                }
            })
            .disposed(by: disposeBag)
        {%- if isMany and custom_parameters.is_table == 'true' and custom_parameters.is_dptable != 'true' %}
        viewModel.rx.{{ dataName | downcase }}
            .subscribe(onNext: { {{ dataName | downcase }} in
                self.{{ dataName | downcase }} = {{ dataName | downcase }}
                self.tableView.reloadData()
            })
            .disposed(by: disposeBag)
        {%- endif %}
    }
    {%- if isMany and custom_parameters.is_table == 'true' and custom_parameters.is_dptable == 'true' %}

    private func setupTableView() {
        tableView.setup(cellType: {{ prefix }}{{ custom_parameters.cell }}.self, viewModels: viewModel.rx.{{ dataName | downcase }}, isLoadFromNib: false)
    }
    {%- endif %}
}
{% if isMany and custom_parameters.is_table == 'true' and custom_parameters.is_dptable != 'true' %}
extension {{ prefix }}{{ custom_parameters.vc_name }}ViewController: UITableViewDelegate, UITableViewDataSource {
    public func tableView(_ tableView: UITableView, numberOfRowsInSection section: Int) -> Int {
        return {{ dataName | downcase }}.count
    }
    
    public func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell {
        let {{ custom_parameters.model | downcase }} = {{ dataName | downcase }}[indexPath.row]
        let cell = tableView.dequeueCell({{ prefix }}{{ custom_parameters.cell }}.self, indexPath: indexPath)
        cell.set(viewModel: {{ custom_parameters.model | downcase }})
        return cell
    }
}
{%- endif -%}