{% include 'header' %}

import RxSwift
import RxCocoa

//MARK: ViewModel
public class {{ prefix }}{{ custom_parameters.vc_name }}ViewModel: ReactiveCompatible {
    public enum State {
        case normal, loading, error(NSError), successful
    }
    private let {{ module_info.name | downcase }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol
    private let disposeBag = DisposeBag()
    {% if isMany -%}
    fileprivate let {{ dataName | downcase }} = Variable<[{{ custom_parameters.model }}]>([])
    {% else %}
    fileprivate let {{ dataName | downcase }} = Variable<{{ custom_parameters.model }}?>(nil)
    {%- endif %}
    fileprivate let state = Variable<State>(.normal)

    //MARK: Init
    public init({{ module_info.name | downcase }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol) {
        self.{{ module_info.name | downcase }}Accessor = {{ module_info.name | downcase }}Accessor
        load{{ dataName }}()
    }

    private func load{{ dataName }}() {
        state.value = .loading
        {{ module_info.name | downcase }}Accessor.get{{ dataName }}()
            .subscribe(
                onNext: { [weak self] new{{ dataName }} in
                    guard let sSelf = self else { return }
                    sSelf.{{ dataName | downcase }}.value = new{{ dataName }}
                    sSelf.state.value = .successful
                }, 
                onError: { [weak self] error in
                    self?.state.value = .error(error.parse())
            })
            .disposed(by: disposeBag)
    }
}

extension Reactive where Base: {{ prefix }}{{ custom_parameters.vc_name }}ViewModel {
    //MARK: Outputs
    public var state: Driver<Base.State> {
        return base.state.asDriver()
    }
    {%- if isMany and custom_parameters.is_table == 'true' %}
    public var {{ dataName | downcase }}: Observable<[{{ prefix }}{{ custom_parameters.cell }}ViewModel]> {
        return base.{{ dataName | downcase }}.asObservable().mapElement { {{ prefix }}{{ custom_parameters.cell }}ViewModel(model: $0) }
    }
    {%- endif %}
}