{% include 'header' %}

import UIKit
import RxSwift
import RxCocoa

public class {{ prefix }}{{ module_info.name }}ViewController: UIViewController {
    private var disposeBag = DisposeBag()
    public var viewModel: {{ prefix }}{{ module_info.name }}ViewModel!

    override public func viewDidLoad() {
        super.viewDidLoad()
        setupBindings()
    }

    private func setupBindings() {
        viewModel.state
            .drive(onNext: { state in
                switch state {
                case .loading:
                    self.showHud()
                case .normal:
                    self.hideHud()
                case .successful:
                    self.hideHud()
                case .error(let error):
                    self.hideHud()
                    self.showAlert(with: error)
                }
            })
            .addDisposableTo(disposeBag)
    }
}
