{% include 'header' %}

import RxSwift
import RxCocoa

enum {{ prefix }}{{ module_info.name }}ViewModelState {
    case normal, loading, error(NSError), successful
}

public class {{ prefix }}{{ module_info.name }}ViewModel {
    private let {{ module_info.name | downcase }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol
    private let disposeBag = DisposeBag()

    private let _state = Variable<{{ prefix }}{{ module_info.name }}ViewModelState>(.normal)
    private(set) lazy var state: Driver<{{ prefix }}{{ module_info.name }}ViewModelState> = self._state.asDriver()

    public init({{ module_info.name | downcase }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol) {
        self.{{ module_info.name | downcase }}Accessor = {{ module_info.name | downcase }}Accessor
    }
}
