{% include 'header' %}

import RxSwift
import RxCocoa

//MARK: Enums
public enum {{ prefix }}{{ module_info.name }}ViewModelState {
    case normal, loading, error(NSError), successful
}

//MARK: ViewModel
public class {{ prefix }}{{ module_info.name }}ViewModel: ReactiveCompatible {
    private let {{ module_info.name | downcase }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol
    private let disposeBag = DisposeBag()

    fileprivate let state = Variable<{{ prefix }}{{ module_info.name }}ViewModelState>(.normal)

    //MARK: Init
    public init({{ module_info.name | downcase }}Accessor: {{ prefix }}{{ module_info.name }}AccessorProtocol) {
        self.{{ module_info.name | downcase }}Accessor = {{ module_info.name | downcase }}Accessor
    }
}

extension Reactive where Base: {{ prefix }}{{ module_info.name }}ViewModel {
    //MARK: Outputs
    public var state: Driver<{{ prefix }}{{ module_info.name }}ViewModelState> {
        return base.state.asDriver()
    }
}