{% include 'header' %}

import Foundation 
import SwiftyJSON

public protocol {{ prefix }}{{ module_info.name }}ParserProtocol {     
	func parse({{ module_info.name | downcase }}JSON: JSON) throws -> {{ custom_parameters.model }}     
}

public class {{ prefix }}{{ module_info.name }}Parser: Parser, {{ prefix }}{{ module_info.name }}ParserProtocol {
    
    public func parse({{ module_info.name | downcase }}JSON: JSON) throws -> {{ custom_parameters.model }} {
        return {{ custom_parameters.model }}()
    }
}
